## Loading/Exploring the data

Load the iris.csv file into a pandas dataframe. Take a minute to familiarize yourself with the data.

## Import Pandas

Import the `pandas` library as `pd`

In [36]:
import pandas as pd

Read the `iris.csv` dataset into an object named `iris`

In [38]:
df = pd.read_csv("datasets/iris.csv")

How many different species are in this dataset?

In [39]:
unique_species_number = df['species'].nunique()
print(unique_species_number)

3

What are their names?

In [40]:
unique_species = df['species'].unique()
print(unique_species)

['setosa' 'versicolor' 'virginica']

How many samples are there per species?

<details><summary>Hint</summary>Use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html"><code>.value_counts()</code></a> method</details>

In [41]:
sample_per_species = df['species'].value_counts()
print(sample_per_species)

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## Feature Engineering

Create a new column called `'sepal_ratio'` which is equal to sepal width / sepal length

In [50]:
df['sepal_ratio'] = df['sepal width (cm)'] / df['sepal length (cm)']
print(df['sepal_ratio'])

0      0.686275
1      0.612245
2      0.680851
3      0.673913
4      0.720000
         ...
145    0.447761
146    0.396825
147    0.461538
148    0.548387
149    0.508475
Name: sepal_ratio, Length: 150, dtype: float64

Create a similar column called `'petal_ratio'`: petal width / petal length

In [49]:
df['petal_ratio'] = df['petal width (cm)'] / df['petal length (cm)']
print(df['petal_ratio'])

0      0.142857
1      0.142857
2      0.153846
3      0.133333
4      0.142857
         ...
145    0.442308
146    0.380000
147    0.384615
148    0.425926
149    0.352941
Name: petal_ratio, Length: 150, dtype: float64

Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches.

In [53]:
df['sepal_length_inches'] = df['sepal length (cm)'] * 0.393701
df['sepal_width_inches'] = df['sepal width (cm)'] * 0.393701
df['petal_length_inches'] = df['petal length (cm)'] * 0.393701
df['petal_width_inches'] = df['petal width (cm)'] * 0.393701

## Apply

Create a column called `'encoded_species'`:
- 0 for setosa
- 1 for versicolor
- 2 for virginica


Hint 1
Create a dictionary using the species as keys and the numbers 0-2 for values


Hint 2
    Use the dictionary in hint 1 with the <code>.apply()</code> method to create the new column

In [57]:
species = {"setosa": 0, "versicolor": 1, "virginica": 2}

df["encoded_species"] = df["species"].apply(lambda x: species[x])
print(df["encoded_species"])

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: encoded_species, Length: 150, dtype: int64

## March Madness

Let's change up the dataset to something different than flowers: March Madness!

Read in the dataset `ncaa-seeds.csv` to an object named `seeds`.

This dataframe simulates the games that will occur in the first round of the [NCAA basketball tournament](http://www.sportingnews.com/au/ncaa-basketball/news/ncaa-tournament-2017-march-madness-bracket-schedule-matchups-print-a-bracket/1r6cau9sb1xj4131zzhay2dj5g). In the first row, you should see the following:

| team_seed | opponent_seed |
|-----------|---------------|
| 01N       | 16N           |

For team_seed, the 01 is their seed, and N is their division (North). This row is saying the 1st seed in the north division will play the 16th seed (same division).

Using the `.apply()` method, create the following new columns:
- `team_division`
- `opponent_division`

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 01N       | 16N           | N             | N                 |

Now that you have the divisions, change the `team_seed` and `opponent_seed` columns to just be the numbers.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 1         | 16            | N             | N                 |

Create a new column called seed_delta, which is the difference between the team's seed and their opponent's. 

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division | seed_delta |
|-----------|---------------|---------------|-------------------|------------|
| 1         | 16            | N             | N                 | -15        |

<br>
<details><summary>Did you get an error?</summary>
team_seed and opponent_seed need to be numerical columns in order for you to perform mathematical operations on them.
</details>